/****************
colors: taken from the logo
orange: f07200
purple: 920974
green: 04a73f
elegent: 0d4562
*/
/* */

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Tajawal", sans-serif;
  color: #919191;
  background-color: #ffffff;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.clear {
  display: block;
  clear: both;
}
html[xmlns] .clear {
  display: block;
}
* html .clear {
  height: 1%;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

footer,
header,
nav {
  display: block;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.row2 {
  color: #979797;
  background-color: #ffffff;
}

.row3,
.row3 a {
  color: #919191;
  background-color: #232323;
}

/*----------------------------------------------Generalise-------------------------------------*/

#header,
#footer {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

p {
  font-size: 120%;
}

.lastbox {
  margin-right: 0;
}

#container {
  padding: 100px 0;
}

/*----------------------------------------------Header-------------------------------------*/

#header {
  padding: 20px 0;
}

#header #header-logo {
  float: right;
  margin: 0;
}

#header nav {
  display: block;
  float: left;
  margin: 10px 0 0 0;
  /* padding: 20px 0; */
  color: #c0bab6;
}
#header nav ul {
  padding: 0 20px;
}
#header nav li {
  display: inline-block;
  font-size: 135%;
  margin-right: 15px;
  text-transform: uppercase;
  /* background-color: #232323; */
  padding: 20px;
}

#header nav li a {
  color: #9e9a97;
  /*  padding: 20px; */
  /* background-color: #232323; */
  border-bottom: 2px solid transparent;

  padding-bottom: 10px;
  transition: 0.2s;
}
#header nav li a:hover {
  color: #920974;
  border-bottom: 2px solid #920974;
  /* background-color: #232323; */
}

/* -------- the dropdown nav button -------  */

.dropbtn span {
  font-size: 70%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 12px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 80%;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsiveniss - hamburger button */

/*----------------------------------------------Header-hero-------------------------------------*/

/* ------Slider-----*/

.header-hero #container {
  padding: 0;
  width: 100% !important;
  height: 768px;
  position: relative;
}

.header-hero {
  background-color: #920974;
}

.mySlides {
  width: 100%;
  height: 768px;
  object-fit: cover;
  display: none;
  transition: 0.2s step-end;
}

.hero-title {
  position: absolute;
  width: auto;
  display: flex;
  margin-right: 0;
  margin-top: 290px;
  background-color: rgba(13, 70, 98, 0);
}

.hero-title h1 {
  font-size: 500%;
  display: inline;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-right: 25px;
}

.hero-title h1 span {
  background-color: rgba(10, 47, 255, 0.486);
  border-radius: 7px;
}

/* Header-hero Button */
.hero-btn-container {
  margin-right: 35px;
  margin-top: 25px;
}
.hero-btn {
  position: relative;

  padding: 10px;
  border-radius: 4px;
  background-color: #920974;
  color: #fff;
  border: none;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 230%;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
}

.hero-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hero-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hero-btn:hover span {
  padding-right: 25px;
}

.hero-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hero-btn:active {
  outline: none;
}

.mySlides img {
  vertical-align: middle;
  border-style: none;
}

/*----------------------------------------------Our Services-------------------------------------*/
#our-services {
  margin-bottom: 30px;
}

.container-title {
  font-size: 300%;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.container-title:after {
  display: block;
  height: 2px;
  background-color: #920974;
  content: " ";
  width: 50px;
  margin: 0 auto;
  margin-top: 20px;
}

.sub-title {
  text-align: center;
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 60px;
}

#our-services .col-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-services .column h3 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 150%;
}

#our-services .column p {
  text-align: center;
}

#our-services .icon-large {
  height: 60px;
  width: auto;
}

.btn-link {
  display: inline-block;
  margin-top: 10px;
  background-color: #920974;
  color: #fff;
  padding: 10px;
  font-family: "Tajawal", sans-serif;
  font-size: 125%;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}

.btn-link:hover,
.btn-link:active {
  background-color: #d80fac;
  outline: none;
}

/* ----------------------------------------------- */
/* gallery */
/* ----------------------------------------------- */

#gallery #container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.gallery-showcase {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gallery-showcase li {
  display: block;
  float: left;
  width: 25%;
  height: 300px;
}

.gallery-photo {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.gallery-photo img {
  object-fit: cover;
  opacity: 0.7;
  width: 100%;
  height: 300px;
  transform: scale(1.15);
  transition: 0.5s;
}

.gallery-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/* ----------------------------------------------training for dealers ---------------------------- */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-container img {
  width: 500px;
}
.flex-container .side-text {
  text-align: right;
  margin-right: 20px;
  width: 460px;
}

.side-text-content {
  margin-top: 5px;
  margin-bottom: 20px;
}

#dealers .btn-link {
  font-size: 115%;
}
#map * {
  direction: ltr;
  /*text-align: right;*/
}

/* ----------------------------------------------Catalogs ---------------------------- */
#works #container {
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  margin: 0 auto;
  align-items: center;
}

/** dotted slider **/

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%) scaleX(-1);
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%) scaleX(-1);
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/* */
.w3-display-container {
  position: relative;
}

.w3-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.catalog-slide {
  vertical-align: middle;
  border-style: none;
  height: 250px;
  object-fit: cover;
}

/*
#cars-catalog {
  background-color: #f8f8f8;
}

#three-d-catalog {
  background-color: #f8f8f8;
}

#res-catalog #container {
  background-image: url("../images/yellow-tri.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#cars-catalog #container {
  background-image: url("../images/blue-tri.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#ret-catalog #container {
  background-image: url("../images/red-tri.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#three-d-catalog #container {
  background-image: url("../images/green-tri.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section-catalogs #container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 0 auto;
}
.section-catalogs {
  position: relative;
}

.catalog-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.catalog-img img:hover {
}

.catalog-txt {
  padding-top: 40%;
}
.catalog-txt h2 {
  display: block;
  text-align: center;
  font-size: 300%;
  color: #920974;
}
.catalog-txt button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #920974;
  color: #fff;
  padding: 10px;
  font-family: "Tajawal", sans-serif;
  border: none;
  border-radius: 4px;
  font-size: 150%;
  transition: 0.2s;
}

.catalog-txt button:hover,
.catalog-txt button:active {
  background-color: #d80fac;
  outline: none;
}
*/
/*----------------------------------------------Footer-------------------------------------*/

#footer {
  padding: 20px 0;
}
#footer p {
  margin: 0;
  padding: 0;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

/* -----------------------contact us ------------------------------------------------------- */

.contact-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f8f8f8;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
}

.form-container h2 {
  margin-right: 15px !important;
  font-size: 150% !important;
}

.form-row {
  margin: 5px 15px;
  padding: 0 15px;
  height: 60px;
}

.form-container .btn-link {
  width: 100px;
}
.form-container textarea {
  padding-top: 5px;
  height: 120px;
}

/* updating placeholder font family */

.form-row::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Tajawal", sans-serif;
}
.form-row::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Tajawal", sans-serif;
}
.form-row:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Tajawal", sans-serif;
}
.form-row:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Tajawal", sans-serif;
}

#map {
  width: 100%;
  height: calc(100vh - 115px);
  background-color: grey;
}

/* ----------------------------------------------media------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header nav li {
    margin: 0 auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 785px) {
  .hero-title {
    align-items: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }

  .hero-title h1 {
    justify-self: center;
    text-align: center;
    width: 100%;
    float: none;
    font-size: 400%;
    text-shadow: 2px 2px #7001549c;
    margin-right: 0;
  }
  .hero-btn-container {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-btn {
    display: block;
    width: auto;
    float: none;

    font-size: 200%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header nav li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/* -----------------------------------*/

@media only screen and (max-width: 600px) {
  /* centering logo and nav */

  /* centering hero welcome and button */
  /*
  .hero-title {
    margin: 0 auto;
    justify-content: center;
  }
  .hero-title h1 {
    text-align: center;
  }
  .hero-title .hero-btn {
    margin-left: auto;
    margin-right: auto;
  }
  */
}

@media only screen and (max-width: 375px) {
  /* centering logo and nav */
}
